.post-card {
  display: flex;
  flex-direction: column;
  background: #fff;
}

.post-card-image {
  width: 100%;
  aspect-ratio: 4 / 3;
  overflow: hidden;
  height: 230px;
}

.post-card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.post-card-content {
  padding-top: 1rem;
}

.post-card-category {
  display: inline-block;
  font-size: 0.813rem;
  font-weight: 700;
  line-height: 0.813rem;
  text-transform: capitalize;
  color: #EB0028;
  letter-spacing: 0;
  margin-bottom: 1rem;
}

.post-card-title {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.875rem;
  color: #000;
  margin: 0 0 1rem 0;
}

.post-card-meta {
    font-size: 0.75rem;
    color: #969696;
    margin: 0 0 1rem 0;
}

.post-author {
  font-size: 0.75rem;
  color: #000000;
  font-weight: 500;
}
.post-card-description {
  font-size: 0.875rem;
  color: #929292;
  line-height: 1.25rem;
  margin: 0;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

