/* RESET HELPERS */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* HEADER */
.header {
  background: #fff;
  position: relative;
}

/* TOP BAR */
.header-top {
  display: flex;
  align-items: center;
  max-width: 1224px;
  margin: 0 auto;
  padding: 1.5rem 1.25rem;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin-left: auto;
  width: 50%;
}

.logo-img {
  display: block;
  width: auto;
}

.burger {
  display: none;
  font-size: 1.5rem;
  background: none;
  border: none;
}

.search {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.search-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 999px;
  border: none;
  background: transparent;
  cursor: pointer;
  color: #111827;
}

.search-icon {
  width: 1.125rem;
  height: 1.125rem;
}

.search-input-wrapper {
  position: absolute;
  top: 0%;
  right: 2.25rem;
  background: #ffffff;
  padding: 0.5rem 0.75rem;
  border-radius: 999px;
  box-shadow: 0 0.25rem 1.25rem rgba(0, 0, 0, 0.1);
}

.search-input {
  border: none;
  outline: none;
  font-size: 1rem;
  min-width: 10rem;
}

/* MENU */
.menu {
  position: sticky;
  top: 0;
  background: #fff;
  transition: transform 0.3s ease;
  z-index: 10;
  border-top: 0.063rem solid #E9E9E9;
  will-change: transform;
  transform: translateY(0);
}

.menu--hidden {
  transform: translateY(-100%);
}

.menu-list {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 1.25rem 0;
  border-bottom: 0.063rem solid #E9E9E9;
}

.menu-item {
  position: relative;
  cursor: pointer;
  font-size: 1rem;
}

.menu-item-label {
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
  color: #000000;
  font-weight: 500;
}

.chevron-down {
  width: 0.75rem;
  height: 0.75rem;
  transform: translateY(0.0625rem);
}

/* SUBMENU (CSS ONLY) */
.submenu {
  position: absolute;
  top: 184%;
  left: 0;
  background: white;
  padding: 1.25rem;
  min-width: 12rem;
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: 0.2s;
  border: 0.063rem solid #E9E9E9;
}

.menu-item:hover .submenu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  font-size: 0.813rem;
}

.submenu li:hover {
  cursor: pointer;
}

.submenu li span {
  transition: color 0.2s ease, padding-left 0.2s ease;
}

.submenu li span:hover {
  color: #969696;
  padding-left: 0.5rem;
}

.submenu-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  border-bottom: 0.063rem solid #E9E9E9;
}

.submenu-item:last-child {
  border-bottom: none;
  padding-bottom: 0;
}
.submenu-item:first-child {
  padding-top: 0;
}

.submenu-chevron {
  width: 0.3125rem;
  height: 0.5rem;
}

/* MOBILE MENU */
.mobile-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  z-index: 19;
}

.mobile-overlay.open {
  opacity: 1;
  visibility: visible;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 80%;
  max-width: 300px;
  height: 100%;
  background: white;
  transform: translateX(-100%);
  transition: 0.3s;
  z-index: 20;
  padding: 1.25rem;
}

.mobile-menu.open {
  transform: translateX(0);
}

.mobile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1.5rem;
  border-bottom: 0.063rem solid #E9E9E9;
  margin-left: -1.25rem;
  margin-right: -1.25rem;
  padding-right: 1.25rem;
  padding-left: 1.25rem;
}

.mobile-close {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 999px;
  border: none;
  background: transparent;
  cursor: pointer;
  color: #111827;
}

.mobile-close-icon {
  width: 1.3125rem;
  height: 1.3125rem;
}

.mobile-list li {
  padding: 1rem 0;
  border-bottom: 1px solid #eee;
}

/* RESPONSIVE */
@media (max-width: 1024px) {
  .logo{
    margin-left: 0;
    width: auto;

  }
  .menu {
    display: none;
  }

  .burger {
    display: block;
  }
}
